/* Home.css */
.home-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 80vh;
    /* or 100vh to fill full screen */
    /* background-color: #f5f5f5; */
}

.home-content {
    background: whitesmoke;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

